<% if user_signed_in? && current_user.role == "admin" %>
    <div class="d-flex mt-5">
        <%= render 'shared/admin'%>
        <div class="container">
            <h4 class="text-center mb-5">Business users</h4>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Number of Companies</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @businesses.each do |user| %>
                        <tr>
                            <th scope="row"><%= user.id%></th>
                            <td><%= user.username %></td>
                            <td><%= user.email%></td>
                            <td><%= user.companies.count %></td>
                            <td><%= button_to '', users_destroy_path(user.id), class: "bi bi-trash-fill text-danger bg-white", style: "border: none;", data: {turbo: false}%></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
<% else %>
    <div class="container">
        <h3 class="text-center text-danger">Access denied!</h3>
    </div>
<% end %>