<% if business_signed_in? %>
    <div class="d-flex">
    <%= render "shared/business_nav" %>
        <div class="container">
            <h4 class="text-center pt-5">Companies</h4>
            <% @companies.each do |company| %>
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <%= image_tag company.image, class: "img-fluid rounded-start", height: "100px", width: "130px" %>
                            <div class="mx-3 d-flex flex-column">
                                <div>
                                    <h5><%= company.name %></h5>
                                </div>
                                <div>
                                    <p><%= company.description %></p>
                                </div>
                                <div class="d-flex">
                                    <%= button_to "", company_path(company.id), method: :delete, class: "bi bi-trash-fill text-danger mx-3 bg-white", data: {turbo: false}, style: "border: none" %>
                                    <%# <%= link_to "", company_path(company.id), method: :put, class: "bi bi-pencil-square px-3", data: {turbo: false} %> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="container">
        <h1>You are not allowed to view this page</h1>
    </div>
<% end %>