<%= render "shared/header"%>
<%= render "companies" %>

  <section class="bg-light">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-md-12 text-center">
          <div class="lc-block text-center text-md-end mb-5">
            <div editable="rich">
              <h1 class="display-5 fw-bold p-text">Recent reviews</h1>
            </div>
          </div><!-- /lc-block -->
        </div>
      </div>
      <div class="row justify-content-center">
        <% @reviews.each do |review| %>
          <div class="col-md-8 col-lg-4 mb-4">
              <div class="card border-0 shadow">
                <div class="card-body py-4">
                  <div class="d-flex">
                    <img style="width:48px;height:48px" src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8M3x8YXZhdGFyfGVufDB8Mnx8fDE2Mzg4OTExNTE&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=1080" alt="Photo by Nicolas Horn" class="rounded-2 shadow" srcset="https://images.unsplash.com/photo-1527980965255-d3b416303d12?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8M3x8YXZhdGFyfGVufDB8Mnx8fDE2Mzg4OTExNTE&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=1080 1080w, https://images.unsplash.com/photo-1527980965255-d3b416303d12??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8M3x8YXZhdGFyfGVufDB8Mnx8fDE2Mzg4OTExNTE&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=150 150w, https://images.unsplash.com/photo-1527980965255-d3b416303d12??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8M3x8YXZhdGFyfGVufDB8Mnx8fDE2Mzg4OTExNTE&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=300 300w, https://images.unsplash.com/photo-1527980965255-d3b416303d12??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8M3x8YXZhdGFyfGVufDB8Mnx8fDE2Mzg4OTExNTE&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=768 768w, https://images.unsplash.com/photo-1527980965255-d3b416303d12??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8M3x8YXZhdGFyfGVufDB8Mnx8fDE2Mzg4OTExNTE&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1024 1024w" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="1080">
                    <div class="ps-2">
                      <h4 editable="inline" class="rfs-7 ms-2"><%= review.user.username %>'s</h4>
                      <p class="ms-2">rating for <%= review.company.name %></p>
                    </div>
                  </div>
                  <div class="lc-block mt-4 text-muted">
                    <div editable="rich">
                      <%= review.comment %>
                      </p>
                    </div>
                  </div>
                  <div class="rating mt-3 text-success">
                    <div class="lc-block">
                      <div class="review-rating p-3" data-score="<%= review.rating %>"></div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    })
</script>

