
<div class="container mt-5">
	<div class="row flex-md-row-reverse align-items-center">
		<div class="col-md-6">
			<div class="lc-block mb-4">
				<div editable="rich">

					<h2 class="fw-bold display-5 p-text"><%= @category.name %></h2>
				</div>
			</div>
			<div class="lc-block mb-5">
				<div editable="rich">


					<p class="lead text-muted"><%= @category.description %></p>
				</div>
			</div>
		</div>
		<div class="mt-4 mt-md-0 col-md-6">
			<div class="lc-block px-4">
				<div class="position-relative" data-path="0.0.0.1.0">
                    <%= image_tag @category.picture, sizes: "(max-width: 1080px) 100vw, 1080px", width: "1080", height: "1080", alt: "Photo by Spacejoy", class: "position-relative img-fluid" %>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center pt-5">
		<h3 class="section-subheading text-muted p-3">Companies under <%= @category.name %> </h3>
	</div>
	<% if @companies.blank? %>
		<p class="text-center p-text">There's no company registered under <%= @category.name %> category</p>
	<% else %>
		<% @companies.each do |company| %>
			<div class="card mt-3">
				<div class="card-body">
					<% if company.approved %>
						<%= link_to company_path(company.id), data: { turbo: false } do %>
							<div class="d-flex">
								<h5 class="card-title p-text"><%= company.name %></h5>
								<div>
									<% if company.reviews.average(:rating).blank? %>
										<div class="average-review-rating px-5" data-score= 0 ></div>
									<% else %>
										<div class="average-review-rating px-5" data-score=<%= company.reviews.average(:rating).round(2) %>></div>
									<% end %>
								</div>
							</div>
							<p class="card-text pt-3"><%= truncate(company.description, :length => 300, :separator => ' ') %></p>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
  })
</script>
